.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 200px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.cityWeatherCard {
  margin-top: 25px;
  display: block;
  width: 25%;
}

@media (max-width: 576px) {
  .wrapper {
    padding-top: 100px;
  }
  .cityWeatherCard {
    width: 90%;
  }
}
